body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    margin: 0;

    display: flex;
    justify-content: center;
}

label {
    font-size: .75rem;
    font-weight: bold;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    max-width: 800px;

    margin: 5% 10% 5% 10%;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
}

li {
    padding: .5rem;
}


.edit-area li:not(:last-child) {
    border-bottom: 1px solid black;
}

.add-icon-box {
    display: flex;
    justify-content: center;
}

.add-icon {
    height: 42px;
    width: 42px;
}

.del-icon {
    height: 21px;
    width: 21px;
}

.deletable-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#prac-e-form .deletable-li .prac-edit-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .25rem;
}

#prac-e-form .deletable-li .prac-edit-area :first-child,
#prac-e-form .deletable-li .prac-edit-area :last-child {
    grid-column: 1 / 3;
}

#resume-head {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 100%; */
    /* gap: 1rem; */
}

#profile-pic {
    position: relative;
    display: flex;
    justify-content: center;
}

#profile-pic img {
    max-height: 200px;
}

#pic-picker {
    display: none;
}

.deletable-li label {
    display: flex;
    flex-direction: column;
}

li h5{
    margin-left: 1rem;
}

.section {
    position: relative;
    padding: 1rem;
    border: 1px solid black;
}

input[type='submit'],
button {
    color: white;
    background-color: black;
    border: 1px solid black;
    margin: .25rem;
}

input[type='submit']:hover,
button:hover {
    color: black;
    background-color: white;
}

input,
textarea {
    display: block;
}

.toggle-edit {
    position: absolute;
    top: 0;
    right: 0;
}

.hide {
    visibility: hidden;
}

.edit-confirm {
    grid-column: -2 / -1;
    display: flex;
    justify-content: end;
}