#psnl h1,
#psnl h2,
#psnl h3 {
    margin: 0;
}

#psnl,
#psnl form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#psnl-s-name,
#psnl-s-title,
#psnl form :nth-child(1),
#psnl form :nth-child(2) {
    grid-column: 1 / 3;
}

